/* Add this to your existing CSS file */

#saved-recipes-list {
    margin-top: 20px;
}

.recipe-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.recipe-item h2 {
    margin: 0;
    font-size: 24px;
    color: #856352;
}

.recipe-item p {
    margin: 5px 0 0;
    font-size: 16px;
}

.home {
    position: fixed; 
    top: 40px;
    left: 120px;
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #CCCAC5;
    transition: all 0.3s ease-in-out;
}